@keyframes rotate {
    0% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
         transform: rotateX(45deg) rotateY(45deg);
    }
    50% {
         transform: rotateX(-45deg) rotateY(-45deg);
    }
    75% {
         transform: rotateX(45deg) rotateY(45deg);
    }
    100% {
         transform: rotateX(45deg) rotateY(-45deg);
    }
}